<!DOCTYPE html>
<html>
<head>
  <title>ExEngine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<style>
	.container {
		width: 1024px;
		margin: 0 auto;
	}
	a {
		color: rgba(110, 90, 240, 1);
	}
	.item {
		background: rgba(250,250,250,0.5);
		padding: 50px;
	}
	.full_input {
		width: 60%;
	}
	.cntr {
		text-align: center;
	}
	</style>
</head>
<body>
	<h1 class="cntr">Ex.Search</h1>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
